GARMIN_API_ENCRYPTION_KEY=rGlUo19jOTF2z3aFQEoITCfvbAx2foZoY8Tz8J5L7EU=
GARMIN_API_ADMIN_KEY=121a11925b4d6ccb714cc80db3ea14cd
GARMIN_API_PORT=8001
GARMIN_API_STORAGE=your_data/garmin_api
GARMIN_API_DATABASE=your_data/garmin_api/garmin_api.sqlite3
GARMIN_API_CACHE_TTL_SECONDS=120
